<ul class="sidebar-menu" data-widget="tree">
	<li class="header">导航菜单</li>
	<li>
		<a href="@Url.Action("Index","Admin")">
			<i class="fa fa-dashboard"></i> <span>工作一览</span>
		</a>
	</li>
	<li><a href="@Url.Action("Add", "Task")"><i class="fa fa-plus"></i> <span>新增工作</span></a></li>
	<li><a href="@Url.Action("Show","Task")"><i class="fa fa-list-ol"></i> <span>工作计划查询</span></a></li>
	<li><a href="@Url.Action("Absent","Attendance")"><i class="fa fa-list-ol"></i> <span>请假 & 培训</span></a></li>
	<li><a href="@Url.Action("Index","Attendance")"><i class="fa fa-binoculars"></i> <span>月度考勤</span></a></li>
	<li><a href="@Url.Action("Index","Member")"><i class="fa fa-users"></i> <span>班组成员管理</span></a></li>
</ul>